body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

.links {
    margin: 40px 0;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.conclusion-link a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.conclusion-link a:hover {
    color: #0056b3;
}
